HF_TOKEN=
FRONTEND_ORIGIN=http://localhost:5173
MAX_UPLOAD_MB=50
MAX_AUDIO_SECONDS=600
MAX_DECODED_MB=256
MAX_SEGMENT_SECONDS=25
SEGMENT_OVERLAP_SECONDS=2
MAX_CONCURRENT_INFERENCE=1
MAX_BATCH_FILES=10
MAX_PENDING_JOBS=12
JOB_TTL_SECONDS=1800
